<h5>Name: <%= @name %></h5>
<h5>Age: <%= @age %></h5>
<h5>Sex: <%= @sex %></h5>
<h5>Work: <%= @work %></h5>
<h5>Address: <%= @address %></h5>
<h5>Beneficiary: <%= @benefit %></h5>
<h5>First Answer: <%= @first_answer %></h5>
<h5>Second Answer: <%= @second_answer %></h5>
<h5>Third Answer: <%= @third_answer %></h5>
<h5>Fourth Answer: <%= @fourth_answer %></h5>
<h5>Create At: <%= @created_at %></h5>
